body {background-color: #333333; color:#222222}
div.post {background-color: #dddddd;margin: 0 auto;padding: 2%;width: 78%;border-radius: 5px; text-align: center}
div.title {font-size: x-large; font-weight: bold}
